<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapFit">
        <activity
            android:name=".ui.AchievementsActivity"
            android:exported="false"
            android:theme="@style/Theme.CapFit" />
        <activity
            android:name=".ui.home.Leaderboard"
            android:exported="false" />
        <activity
            android:name=".ui.home.DashBoard"
            android:exported="false" />
        <activity
            android:name=".ui.Account.EditProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.Account.MyAccount"
            android:exported="false" />
        <activity
            android:name=".ui.profile.Height"
            android:exported="false" />
        <activity
            android:name=".ui.profile.Weight"
            android:exported="false" />
        <activity
            android:name=".ui.profile.Gender"
            android:exported="false" />
        <activity
            android:name=".ui.profile.Age"
            android:exported="false" />
        <activity
            android:name=".ui.profile.PhoneNumber"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.authentication.SignUp"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.ForgotPassword"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.authentication.Login"
            android:exported="false" />
        <activity
            android:name=".ui.introduction.Introduction4"
            android:exported="false" />
        <activity
            android:name=".ui.introduction.Introduction3"
            android:exported="false" />
        <activity
            android:name=".ui.introduction.Introduction2"
            android:exported="false" />
        <activity
            android:name=".ui.introduction.Introduction1"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>